body {
    background: gray;
}

.img{
    height: 50px;
}

#pic{
    height: 400px;
    width:  500px;
    display: inline-flex;
    background-color: purple;
}

/*show individual user and event */

/*.show {
    /*float: left !important;*/
    border: 2px solid;
    box-shadow: 10px 30px 5px #888888;
    text-align: center;
    height: auto;
    width: auto;
    padding: 10px 20px, 30px, 40px;
}*/

.ng-hide{
    /*display: block;*/
}

#test{
    /*position: static;*/
    margin-top: 30px;
}
