body {
    background: gray;
}

.img{
    height: 100px!important;
    width: 100px!important;
}

.ng-hide{
    /*display: block;*/
}

#test{
    /*position: static;*/
    margin-top: 30px;
}

#editModal {
    margin-top: -500px !important;
}
