    <!-- Show Events when link is clicked -->
    <div ng-repeat = "event in ctrl.events" class="col-xs-6 col-md-4">
        <div ng-click = 'ctrl.showEvent(event.id)' data-toggle="modal" data-target="#ShowEventModal">
            <h3>
                <li class="list-group-item ">
                    {{ event.title }}
                </li>
            </h3>
        </div>
    </div>
    <!-- Show Event Information Modal -->
    <div id="ShowEventModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"&times;></button>
                    <h4 class="modal-title">Event Information</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li class="list-group-item active">{{ ctrl.specificEvent.event.title }}</li><br>
                        <li class="list-group-item active">{{ ctrl.specificEvent.event.price }}</li><br>
                        <li class="list-group-item active">{{ ctrl.specificEvent.event.date }}</p><br>
                        <li class="list-group-item active">{{ ctrl.specificEvent.event.location }}</li><br>
                        <li class="list-group-item active">{{ ctrl.specificEvent.event.user_id }}</li><br>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#CreateEventModal">Create Event</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#EditEventModal">Edit Event</button>
                        <button class="btn btn-default" ng-click = 'ctrl.deleteEvent(ctrl.specificEvent.event.id)'>Delete Event</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" name="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Event Form Modal-->
    <div class="modal fade" id="EditEventModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal Content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Event</h4>
                </div>

                <!-- Modal Body Edit Event Form -->
                <div class="modal-body">
                    <form class="form" ng-submit="ctrl.editEvent()">
                        <input type="text" ng-model="ctrl.editeventdata.title" placeholder = "{{ctrl.specificEvent.event.title}}"/>
                        <input type="text" ng-model="ctrl.editeventdata.price" placeholder="{{ctrl.specificEvent.event.price}}"/>
                        <input type="text" ng-model="ctrl.editeventdata.date" placeholder="date"/>
                        <input type="text" ng-model="ctrl.editeventdata.event. location" placeholder="location"/>
                        <input type="text" ng-model="ctrl.editeventdata.user_id" placeholder="user_id"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" name="button">Close</button>
                    <button class="btn btn-default" ng-click = 'ctrl.editEvent(specificEvent.id)'>Edit Event</button>
                </dul
            </div>
        </div>
    </div>


        <!-- Create Event Form Modal -->
        <div class="">

        </div>
        <div id="CreateEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title">
                            <h4>Create New Event</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="ctrl.createEvent()" class="form">
                            <input type="text" ng-model="ctrl.eventdata.title" placeholder="title"/>
                            <input type="text" ng-model="ctrl.eventdata.price" placeholder="price"/>
                            <input type="text" ng-model="ctrl.eventdata.date" placeholder="date"/>
                            <input type="text" ng-model="ctrl.eventdata.location" placeholder="location"/>
                            <input type="text" ng-model="ctrl.eventdata.user_id" placeholder="user_id"/>
                            <input type="submit" class="submit" value="create event">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" ng-click = 'ctrl.createEvent()'>Create Event</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" name="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
