<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <title>BLL App</title>

        <!-- Test Scripts -->
            <script     src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
              <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
              <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
              <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
              <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
              <script src="js/controllers/user.js" charset="utf-8"></script>
              <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>

        <!-- End Test Scripts -->

        </head>
    </head>
    <body>
        <div ng-include="'partials/nav.html'">
        </div>
        <div class="container">
            <div ng-include="'partials/carousel.html'">
            </div>
            <!-- Place large image -->
            <!-- <div id="pic">
                <img class='img-responsive' src="http://s3.amazonaws.com/ClubExpressClubFiles/669319/graphics/Founders_With_Shield.jpg" alt="">
            </div> -->
            <div class="row">
                <div class="title">
                    <h1>Beta Lambda Lambda Chapter</h1>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:8000">Home</a></li>
                    <li><a href="/partials/history.html">BLL Chapter History</a></li>
                    <li ng-click = "ctrl.getUsers()"><a href="" >Members</a></li>
                    <li ng-click = "ctrl.getEvents()"><a href="">Chapter Events</a></li>
                    <li><a id="open-signup" href="/partials/mandated.html">Mandated Programs</a></li>
                </ul>
            </div>
        <h1>Internationally Mandated Programs</h1>
        <h2>Achievment Week</h2>
        <p>
            Originally designed to promote the study of Negro life and history. Achievement Week is observed in November of each year and is designed to seek out and give due recognition to those individuals at the local and international levels who have made a noteworthy contribution toward improving the quality of life for black Americans. A High School Essay Contest is held in conjunction with Achievement Week. This contest is open to all college-bound high school seniors. College scholarships are awarded to the winners, each of whom must submit an essay on a theme/topic chosen by the fraternity. This contest is a phase of the International Achievement Week observance.
        </p>
        <h2>SCHOLARSHIP</h2>
        <p>
            The Scholarship Program is intended to promote academic excellence among the undergraduate members. Graduate chapters are expected to provide financial assistance to student members and non-members. A portion of the fraternity’s international budget is allocated to scholarships through the Charles R. Drew Scholarship Commission.
        </p>
        <h2>
            SOCIAL ACTION PROGRAMS</h2>
        <p>
            All levels of the fraternity are expected to facilitate, participate and coordinate activities that will uplift their communities. An international committee coordinates the multifaceted programs of the various chapters. Some of the activities under the umbrella of social action include, but are not limited to: voter registration, education and “getting out the vote”; Assault on Illiteracy; Habitat for Humanity; volunteering time to charities and less fortunate individuals; mentoring; and participation in fundraisers for charities such as American Diabetes Association, United Way, Sickle Cell Anemia, etc.
        </p>
        <h2>TALENT HUNT PROGRAM</h2>
        <p>
            This program provides exposure, encouragement and financial assistance to talented young people participating in the Performing Arts. Winners of the competition are awarded recognition for their talents. Awards may include college scholarships.
        </p>
        <h2>MEMORIAL SERVICE</h2>
        <p>
            March 12th of each year has been established as Memorial Day. Chapters are expected to conduct an appropriate service to recall the memory of those members who have entered into Omega Chapter.
        </p>
        <h2>RECLAMATION AND RETENTION</h2>
        <p>
             A concerted effort at the international, district and local levels to retain active brothers and return inactive brothers to full participatory status so that they may enjoy the full benefits of Omega.
        </p>
        <h2>COLLEGE ENDOWMENT FUND</h2>
        <p>
            Each year the fraternity gives at least $50,000.00 to Historically Black College Institutions (HBCU) in furtherance of Omega’s commitment to provide philanthropic support. Chapters are assessed donations based on chapter size.
        </p>
        <h2>HEALTH INITIATIVES</h2>
        <p>
            All levels of the fraternity are expected to facilitate, participate and/or coordinate activities that will uplift their communities by promoting good health practices. An international committee will coordinate and facilitate multifaceted programs of the various chapters, districts, etc. It is anticipated that all local chapters will execute the health directives at the local level. Some of the programs under the umbrella of Health Initiatives are the Charles Drew Blood Drive (normally held in June), AIDS/HIV Awareness, and the American Diabetes Association Partnership. This does not prevent the local chapters from performing additional health initiatives under the umbrella of the Health Initiatives mandate.
        </p>
        <h2>VOTER REGISTRATION, EDUCATION AND MOBILIZATION</h2>
        <p>
            All levels of the fraternity are expected to facilitate, participate and/or coordinate activities that will uplift their communities through the power of the vote. An international committee will coordinate and facilitate multifaceted programs of the various chapters, districts, etc. It is anticipated that all local chapters will execute the directives at the local level. This does not prevent the local chapters from performing additional voter initiatives under the umbrella of the Voter Education, Registration and Mobilization mandate.
        </p>
        <h2>NAACP</h2>
        <p>
            Every district and chapter of the fraternity is required to maintain a Life Membership at Large in the NAACP. In the event that a chapter or district is not a life member of the NAACP, it must maintain a yearly
            membership to be in good standing with the fraternity. Furthermore, all members of the fraternity are strongly encouraged to become members of the NAACP.
        </p>
    </body>
</html>
