<div class="row" >

    <div ng-repeat = "user in ctrl.users" class="col-xs-6 col-md-4">
        <ul  ng-click = 'ctrl.showUser(user.id)'>
            <li>{{ user.name }} </li><br>
        </ul>
    </div>
            <section>
                <section>
                    <div ng-repeat = "specificIndividual in ctrl.specificUser">
                        <h1>User</h1>
                        <p>{{specificIndividual.name}}</p>
                        <p>{{specificIndividual.email}}</p> {{specificIndivicual.email}}
                        <p>{{specificIndividual.phone}}</p> {{specificIndivicual.email}}
                        <p>{{specificIndividual.office}}</p> {{specificIndivicual.email}}
                        <p>{{specificIndividual.event_pos}}</p>
                        <button class="delete-btn" ng-click = 'ctrl.deleteUser(specificIndividual.id)'>Delete User</button>
                        <button class="btn" ng-click = 'ctrl.editUser(ctrl.specificIndividual.id)'>Edit User</button>
                    </div>
                </section>
            </section>
        </div>
        <!-- <div class="form">
            <form ng-submit="ctrl.createUser()" class="form">
                <input type="text" ng-model="ctrl.formdata.name" placeholder="name"/>
                <input type="text" ng-model="ctrl.formdata.email" placeholder="email"/>
                <input type="text" ng-model="ctrl.formdata.phone" placeholder="phone"/>
                <input type="text" ng-model="ctrl.formdata.office" placeholder="office"/>
                <input type="text" ng-model="ctrl.formdata.event_pos" placeholder="Event Position"/>
                <input type="submit" class="submit" value="create user">
            </form>
            <button class="delete-btn" ng-click = 'ctrl.deleteUser(ctrl.specificUser.id)'>Delete User</button>
        </div> -->
    </div>
</div>
