<div class="row" ng-hide="ctrl.hideUsers">

    <div ng-repeat = "user in ctrl.users" class="col-xs-6 col-md-4">
        <ul ng-click = 'ctrl.showUser(user.id)'>
            <li >Name  {{ user.name }} </li><br>
            <li>Email  {{ user.email }} </li><br>
            <li>Phone  {{ user.phone }} </li><br>
            <li>Office  {{ user.office }} </li><br>
            <li>Event  {{ user.event_pos }} </li>
        </ul>
    </div>
    </div>
        <div class="form">
            <form ng-submit="ctrl.createUser()" class="form">
                <input type="text" ng-model="ctrl.formdata.name" placeholder="name"/>
                <input type="text" ng-model="ctrl.formdata.email" placeholder="email"/>
                <input type="text" ng-model="ctrl.formdata.phone" placeholder="phone"/>
                <input type="text" ng-model="ctrl.formdata.office" placeholder="office"/>
                <input type="text" ng-model="ctrl.formdata.event_pos" placeholder="Event Position"/>
                <input type="submit" class="submit" value="create user">
            </form>
            <button class="delete-btn" ng-click = 'ctrl.deleteUser(User.id)'>Delete User</button>
        </div>
    </div>
</div>
